/ProbQA/.vs
/ProbQA/Debug
/ProbQA/PqaCore/Debug
/ProbQA/SRPlatform/Debug
/ProbQA/x64
/ProbQA/PqaClient/Debug
/ProbQA/PqaClient/x64
/ProbQA/PqaCore/x64
/ProbQA/SRPlatform/x64
/ProbQA/PqaClient/Release
/ProbQA/PqaCore/Release
/ProbQA/Release
/ProbQA/SRPlatform/Release
/ProbQA/Notes/MindMaps/~$ProbQA.emm
/ProbQA/ProbQA.sln.DotSettings
/ProbQA/SRPlatformTests/x64
/ProbQA/PqaCoreTests/x64
/Data/Logs
/Data/progress.txt
/Data/KBs
/ProbQA/ProbQANetCore/bin
/ProbQA/ProbQANetCore/obj
/ProbQA/PqaCuda/vc140.pdb
/ProbQA/PqaCuda/x64
/ProbQA/PqaCore/vc140.pdb
__pycache__
/Interop/Python/ProbQAInterop/DLLs/PqaCore.dll
/Interop/Python/ProbQAInterop/DLLs/PqaCore.pdb
/Interop/Python/ProbQAInterop/DLLs/SRPlatform.dll
/Interop/Python/ProbQAInterop/DLLs/SRPlatform.pdb
build
.vscode/
