/ProbQA/.vs
/ProbQA/Debug
/ProbQA/PqaCore/Debug
/ProbQA/SRPlatform/Debug
/ProbQA/x64
/ProbQA/PqaClient/Debug
/ProbQA/PqaClient/x64
/ProbQA/PqaCore/x64
/ProbQA/SRPlatform/x64
/ProbQA/PqaClient/Release
/ProbQA/PqaCore/Release
/ProbQA/Release
/ProbQA/SRPlatform/Release
/ProbQA/Notes/MindMaps/~$ProbQA.emm
/ProbQA/ProbQA.sln.DotSettings
/ProbQA/SRPlatformTests/x64
